.btDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btDiv > button {
    margin-left: 5px;
}

.tag {
        display: inline-flex;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        background-color: #BA90C6;
        color: #FDF4F5;
}

.a1, .a2 {
    border-color: #BA90C6;
    background-color: #BA90C6;
    color: #FDF4F5;
}

.text {
    border-color: #BA90C6;
}